Repository integrations/terraform-provider-github, pull requests merged in 2018-09, with the labels that each got.

#143 All resources: Use Etag to save API quota
  github/config.go
  github/provider_test.go
  github/resource_github_branch_protection.go
  github/resource_github_issue_label.go
  github/resource_github_membership.go
  github/resource_github_organization_project.go
  github/resource_github_organization_webhook.go
  github/resource_github_repository.go
  github/resource_github_repository_collaborator.go
  github/resource_github_repository_deploy_key.go
  github/resource_github_repository_project.go
  github/resource_github_repository_webhook.go
  github/resource_github_team.go
  github/resource_github_team_membership.go
  github/resource_github_team_repository.go
  github/resource_github_user_gpg_key.go
  github/resource_github_user_ssh_key.go
  github/transport.go
  github/transport_test.go
Labels: enhancement, size/XL

#139 New Resource: github_project_column and github_project_column_positions
  github/provider.go
  github/resource_github_project_column.go
  github/resource_github_project_column_test.go
  website/docs/d/ip_ranges.html.markdown
  website/docs/r/organization_project.html.markdown
  website/docs/r/project_column.html.markdown
  website/docs/r/repository_project.html.markdown
  website/github.erb
Labels: new-resource, size/L

#145 Implement & use RateLimitTransport
  github/config.go
  github/transport.go
  github/transport_test.go
Labels: enhancement, size/L

#149 changed page header
  website/docs/r/project_column.html.markdown
Labels: documentation, size/XS

#154 resource/github_repository: Prefill auto_init during import
  github/resource_github_repository.go
  github/resource_github_repository_test.go
Labels: bug, size/XS

#157 Fix spelling mistake
  website/docs/r/user_gpg_key.html.markdown
Labels: size/XS
