Repository integrations/terraform-provider-github, pull requests merged in 2018-02, with the labels that each got.

#72 r/membership: Fix import crash on incorrect ID
  github/resource_github_membership.go
  github/util.go
  github/util_test.go
Labels: bug, crash

#51 resource/github_branch_protection: Add support for require_code_owners_review
  github/resource_github_branch_protection.go
  github/resource_github_branch_protection_test.go
  website/docs/r/branch_protection.html.markdown
Labels: enhancement, waiting-response

#67 improved readme
  README.md
Labels: documentation
