Repository integrations/terraform-provider-github, pull requests merged in 2018-08, with the labels that each got.

#107 update eg in docs: "mozilla" not a license_template, "mpl-2.0" is
  website/docs/r/repository.html.markdown
Labels: documentation

#105 Correct the intercapping of "GitHub"
  website/docs/d/ip_ranges.html.markdown
  website/docs/d/team.html.markdown
  website/docs/d/user.html.markdown
  website/docs/r/branch_protection.html.markdown
  website/docs/r/issue_label.html.markdown
  website/docs/r/membership.html.markdown
  website/docs/r/organization_webhook.html.markdown
  website/docs/r/repository.html.markdown
  website/docs/r/repository_collaborator.html.markdown
  website/docs/r/repository_deploy_key.html.markdown
  website/docs/r/repository_webhook.html.markdown
  website/docs/r/team.html.markdown
  website/docs/r/team_membership.html.markdown
  website/docs/r/team_repository.html.markdown
Labels: documentation

#101 Document topics option of GithubRepository resource
  website/docs/r/repository.html.markdown
Labels: documentation

#100 data-source/github_ip_ranges: Add importer IPs
  github/data_source_github_ip_ranges.go
  github/data_source_github_ip_ranges_test.go
  website/docs/d/ip_ranges.html.markdown
Labels: enhancement

#108 resource/github_*: Prevent crashing on invalid ID format
  github/resource_github_branch_protection.go
  github/resource_github_branch_protection_test.go
  github/resource_github_issue_label.go
  github/resource_github_issue_label_test.go
  github/resource_github_membership.go
  github/resource_github_membership_test.go
  github/resource_github_repository_collaborator.go
  github/resource_github_repository_collaborator_test.go
  github/resource_github_repository_deploy_key.go
  github/resource_github_repository_deploy_key_test.go
  github/resource_github_team_membership.go
  github/resource_github_team_membership_test.go
  github/resource_github_team_repository.go
  github/resource_github_team_repository_test.go
  github/util.go
  github/util_test.go
Labels: bug, crash

#110 docs: Enable HCL syntax highlighting for examples
  website/docs/d/ip_ranges.html.markdown
  website/docs/d/team.html.markdown
  website/docs/d/user.html.markdown
  website/docs/r/branch_protection.html.markdown
Labels: documentation

#109 New Data Source: github_repository
  github/data_source_github_repository.go
  github/data_source_github_repository_test.go
  github/provider.go
  website/docs/d/repository.html.markdown
  website/github.erb
Labels: new-data-source

#112 test/github_repository: Remove panics
  github/resource_github_repository_test.go
Labels: bug, crash

#48 provider: Add insecure mode
  github/config.go
  github/provider.go
  github/provider_test.go
  github/test-fixtures/README.md
  github/test-fixtures/cert.pem
  github/test-fixtures/key.pem
  website/docs/index.html.markdown
Labels: enhancement, provider

#111 New Resource: github_organization_project
  github/provider.go
  github/resource_github_organization_project.go
  github/resource_github_organization_project_test.go
  website/docs/r/organization_project.html.markdown
  website/github.erb
Labels: new-resource

#116 Refactoring & naming cleanup
  github/resource_github_organization_webhook.go
  github/resource_github_organization_webhook_test.go
  github/resource_github_repository_deploy_key.go
  github/resource_github_repository_deploy_key_test.go
  github/resource_github_repository_webhook.go
  github/resource_github_repository_webhook_test.go
  github/resource_github_team.go
  github/resource_github_team_membership.go
  github/resource_github_team_membership_test.go
  github/resource_github_team_repository.go
  github/resource_github_team_repository_test.go
  github/resource_github_team_test.go
  github/util.go
Labels: technical-debt

#117 vendor: github.com/google/go-github/github@v16.0.0
  vendor/github.com/google/go-github/github/activity_events.go
  vendor/github.com/google/go-github/github/admin_stats.go
  vendor/github.com/google/go-github/github/apps.go
  vendor/github.com/google/go-github/github/apps_marketplace.go
  vendor/github.com/google/go-github/github/checks.go
  vendor/github.com/google/go-github/github/event_types.go
  vendor/github.com/google/go-github/github/git_trees.go
  vendor/github.com/google/go-github/github/github-accessors.go
  vendor/github.com/google/go-github/github/github.go
  vendor/github.com/google/go-github/github/licenses.go
  vendor/github.com/google/go-github/github/messages.go
  vendor/github.com/google/go-github/github/migrations_user.go
  vendor/github.com/google/go-github/github/projects.go
  vendor/github.com/google/go-github/github/pulls_comments.go
  vendor/github.com/google/go-github/github/pulls_reviews.go
  vendor/github.com/google/go-github/github/repos.go
  vendor/github.com/google/go-github/github/repos_commits.go
  vendor/github.com/google/go-github/github/repos_community_health.go
  vendor/github.com/google/go-github/github/repos_hooks.go
  vendor/github.com/google/go-github/github/repos_prereceive_hooks.go
  vendor/github.com/google/go-github/github/timestamp.go
  vendor/vendor.json
Labels: dependencies

#118 resource/github_issue_label: Add support for description
  github/resource_github_issue_label.go
  github/resource_github_issue_label_test.go
  website/docs/r/issue_label.html.markdown
Labels: enhancement

#115 New Resource: github_repository_project
  github/provider.go
  github/resource_github_repository_project.go
  github/resource_github_repository_project_test.go
  website/docs/r/repository_project.html.markdown
  website/github.erb
Labels: new-resource

#119 New Resource: github_user_ssh_key
  github/provider.go
  github/provider_test.go
  github/resource_github_user_ssh_key.go
  github/resource_github_user_ssh_key_test.go
  vendor/github.com/terraform-providers/terraform-provider-tls/LICENSE
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/data_source_public_key.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/provider.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/resource_cert_request.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/resource_certificate.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/resource_locally_signed_cert.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/resource_private_key.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/resource_self_signed_cert.go
  vendor/github.com/terraform-providers/terraform-provider-tls/tls/util.go
  vendor/vendor.json
  website/docs/r/user_ssh_key.html.markdown
  website/github.erb
Labels: new-resource

#120 New Resource: github_user_gpg_key
  github/provider.go
  github/resource_github_user_gpg_key.go
  github/resource_github_user_gpg_key_test.go
  github/test-fixtures/gpg-pubkey.asc
  website/docs/r/user_gpg_key.html.markdown
  website/github.erb
Labels: new-resource

#121 Cleanup github_branch_protection
  github/resource_github_branch_protection.go
Labels: technical-debt

#124 Cleanup github_organization_project
  github/resource_github_organization_project.go
Labels: technical-debt

#125 Cleanup github_organization_webhook
  github/resource_github_organization_webhook.go
Labels: technical-debt

#123 Cleanup github_membership
  github/resource_github_membership.go
  github/resource_github_membership_test.go
Labels: technical-debt

#122 Cleanup github_issue_label
  github/resource_github_issue_label.go
  github/resource_github_issue_label_test.go
Labels: technical-debt

#129 New Data Source: github_repositories
  github/data_source_github_repositories.go
  github/data_source_github_repositories_test.go
  github/provider.go
  website/docs/d/repositories.html.markdown
  website/github.erb
Labels: new-data-source

#132 resource/github_repository_deploy_key: Trim key
  github/resource_github_repository_deploy_key.go
  github/resource_github_repository_deploy_key_test.go
  github/test-fixtures/id_rsa.pub
Labels: bug

#133 resource/github_repository_webhook: Avoid spurious diff
  github/migrate_github_repository_webhook.go
  github/migrate_github_repository_webhook_test.go
  github/resource_github_repository_webhook.go
  github/resource_github_repository_webhook_test.go
Labels: bug

#135 github_repository: Make non-updatable fields ForceNew
  github/resource_github_repository.go
  github/resource_github_repository_test.go
Labels: bug

#134 resource/github_organization_webhook: Avoid spurious diff
  github/migrate_github_repository_webhook.go
  github/migrate_github_repository_webhook_test.go
  github/resource_github_organization_webhook.go
  github/resource_github_organization_webhook_test.go
  github/resource_github_repository_webhook.go
  github/schema_webhook_configuration.go
Labels: bug

#136 resource/github_team: Expose slug (and document when to use it)
  github/resource_github_branch_protection.go
  github/resource_github_branch_protection_test.go
  github/resource_github_team.go
  github/resource_github_team_test.go
  website/docs/r/branch_protection.html.markdown
  website/docs/r/team.html.markdown
Labels: enhancement

#137 resource/github_team_membership: Make role updatable
  github/resource_github_membership.go
  github/resource_github_team_membership.go
  github/resource_github_team_membership_test.go
Labels: enhancement

#138 resource/github_repository: Avoid spurious diff for topics
  github/resource_github_repository.go
  github/resource_github_repository_test.go
Labels: bug

#142 Unify log messages & 404 detection approach
  github/resource_github_branch_protection.go
  github/resource_github_issue_label.go
  github/resource_github_membership.go
  github/resource_github_organization_project.go
  github/resource_github_organization_webhook.go
  github/resource_github_repository.go
  github/resource_github_repository_collaborator.go
  github/resource_github_repository_deploy_key.go
  github/resource_github_repository_project.go
  github/resource_github_repository_webhook.go
  github/resource_github_team.go
  github/resource_github_team_membership.go
  github/resource_github_team_repository.go
  github/resource_github_user_gpg_key.go
  github/resource_github_user_ssh_key.go
Labels: bug, size/L, technical-debt
