Repository integrations/terraform-provider-github, pull requests merged in 2019-06, with the labels that each got.

#220 document `required_approving_review_count` parameter for branch protections
  website/docs/r/branch_protection.html.markdown
Labels: documentation, size/XS

#234 data_source/github_repositories: add sort capabilities
  .gitignore
  github/data_source_github_repositories.go
  github/data_source_github_repositories_test.go
  website/docs/d/repositories.html.markdown
Labels: documentation, size/M

#237 Bug Fix: import `github_repository`
  github/resource_github_repository.go
  github/resource_github_repository_test.go
Labels: size/S

#239 New Datasource: `github_collaborators`
  github/data_source_github_collaborators.go
  github/data_source_github_collaborators_test.go
  github/provider.go
  website/docs/d/collaborators.html.markdown
  website/github.erb
Labels: documentation, size/XL

#224 Add base_url clarification for GitHub enterprise
  website/docs/index.html.markdown
Labels: documentation, size/XS

#244 Fixes formatting in docs & test files
  github/data_source_github_collaborators_test.go
  github/data_source_github_repositories_test.go
  github/data_source_github_repository_test.go
  github/data_source_github_team_test.go
  github/data_source_github_user_test.go
  github/resource_github_branch_protection_test.go
  github/resource_github_issue_label_test.go
  github/resource_github_repository_collaborator_test.go
  github/resource_github_repository_deploy_key_test.go
  github/resource_github_repository_project_test.go
  github/resource_github_repository_test.go
  github/resource_github_repository_webhook_test.go
  github/resource_github_team_membership_test.go
  github/resource_github_team_repository_test.go
  github/resource_github_team_test.go
  github/resource_github_user_invitation_accepter_test.go
  github/resource_github_user_ssh_key_test.go
  website/docs/d/collaborators.html.markdown
  website/docs/r/issue_label.html.markdown
  website/docs/r/membership.html.markdown
  website/docs/r/repository_collaborator.html.markdown
  website/docs/r/team_membership.html.markdown
  website/docs/r/user_invitation_accepter.html.markdown
Labels: documentation, size/XL

#241 Bug Fix: GitHub Usernames are Case Insensitive
  github/resource_github_membership.go
  github/resource_github_membership_test.go
  github/resource_github_repository_collaborator.go
  github/resource_github_repository_collaborator_test.go
  github/resource_github_team_membership.go
  github/resource_github_team_membership_test.go
  github/util.go
  github/util_test.go
Labels: size/L

#246 td-update-to-parallel-tests
  github/data_source_github_collaborators_test.go
  github/data_source_github_ip_ranges_test.go
  github/data_source_github_repositories_test.go
  github/data_source_github_repository_test.go
  github/data_source_github_team_test.go
  github/data_source_github_user_test.go
  github/provider_test.go
  github/resource_github_branch_protection_test.go
  github/resource_github_issue_label_test.go
  github/resource_github_membership_test.go
  github/resource_github_organization_project_test.go
  github/resource_github_organization_webhook_test.go
  github/resource_github_project_column_test.go
  github/resource_github_repository_collaborator_test.go
  github/resource_github_repository_deploy_key_test.go
  github/resource_github_repository_project_test.go
  github/resource_github_repository_test.go
  github/resource_github_repository_webhook_test.go
  github/resource_github_team_membership_test.go
  github/resource_github_team_repository_test.go
  github/resource_github_team_test.go
  github/resource_github_user_gpg_key_test.go
  github/resource_github_user_invitation_accepter_test.go
  github/resource_github_user_ssh_key_test.go
  github/resource_organization_block_test.go
Labels: size/M

#214 Provide "require signed commits" on `github_branch_protection`
  github/resource_github_branch_protection.go
  github/resource_github_branch_protection_test.go
  website/docs/r/branch_protection.html.markdown
Labels: documentation, enhancement, size/M

#242 Bug Fix: GitHub Organization is not required for all datasources
  github/config.go
  github/data_source_github_repositories.go
  github/data_source_github_repository.go
  github/provider.go
  github/provider_test.go
  github/resource_github_branch_protection.go
  github/resource_github_issue_label.go
  github/resource_github_membership.go
  github/resource_github_organization_project.go
  github/resource_github_organization_webhook.go
  github/resource_github_project_column.go
  github/resource_github_repository.go
  github/resource_github_repository_collaborator.go
  github/resource_github_repository_deploy_key.go
  github/resource_github_repository_project.go
  github/resource_github_repository_webhook.go
  github/resource_github_team.go
  github/resource_github_team_repository.go
  github/resource_organization_block.go
  github/util.go
  website/docs/index.html.markdown
Labels: documentation, size/L

#247 Retractively updates `CHANGELOG.md` for consistency
  CHANGELOG.md
Labels: size/M

#250 Adds name attribute back to docs.
  website/docs/r/organization_webhook.html.markdown
  website/docs/r/repository_webhook.html.markdown
Labels: documentation, size/XS
