Repository integrations/terraform-provider-github, pull requests merged in 2019-05, with the labels that each got.

#175 Use the SVG gitter badge
  README.md
Labels: documentation, size/XS

#221 Add instructions for getting the acceptance tests passing with any test org
  README.md
  github/data_source_github_repository_test.go
  github/provider_test.go
Labels: size/S

#223 Schema validation to ensure that repo topics don't have capital letters
  github/resource_github_repository.go
  github/resource_github_repository_test.go
Labels: size/XS

#226 Add removed name attributes
  github/resource_github_organization_webhook.go
  github/resource_github_repository_webhook.go
Labels: size/XS

#227 Move topic validation tests into the correct test method
  github/resource_github_repository_test.go
Labels: size/XS
