Repository integrations/terraform-provider-github, pull requests merged in 2019-07, with the labels that each got.

#251 Bug Fix: Webhook secret stored incorrectly in state
  github/resource_github_organization_webhook.go
  github/resource_github_organization_webhook_test.go
  github/resource_github_repository_webhook.go
  github/resource_github_repository_webhook_test.go
  github/schema_webhook_configuration.go
  website/docs/r/repository_webhook.html.markdown
Labels: documentation, size/M

#158 r/github_branch_protection: check invalid users
  github/resource_github_branch_protection.go
  github/resource_github_branch_protection_test.go
Labels: enhancement, size/M, thinking

#253 Check team ID format at plan
  github/resource_github_team_membership.go
  github/resource_github_team_repository.go
  github/util.go
  github/util_test.go
Labels: size/S

#150 resource/github_repository: Allow setting `default_branch` to `master` on creation
  github/resource_github_repository.go
  github/resource_github_repository_test.go
Labels: enhancement, size/XS

#255 Kayrus optional parameters
  github/config.go
  github/provider.go
  github/provider_test.go
  website/docs/index.html.markdown
Labels: documentation, size/L
