Repository integrations/terraform-provider-github, pull requests merged in 2020-12, with the labels that each got.

#610 Fix unable to resolve node id for branch_protection
  github/util_v4_repository.go
Labels: size/XS

#609 remove `ForceNew` on `template*` as they are concerns only at creation time
  github/resource_github_repository.go
Labels: size/XS

#614 Add diff suppression function to the branch protection resource
  github/resource_github_branch_protection.go
  github/util_v4_branch_protection.go
Labels: size/XS

#615 Add Apps to actor types in branch protection
  github/util_v4_branch_protection.go
Labels: size/S

#623 Added `allowsDeletions`and `allowsForcePushes`settings
  github/resource_github_branch_protection.go
  github/resource_github_branch_protection_test.go
  github/util_v4_branch_protection.go
  github/util_v4_consts.go
  go.mod
  go.sum
  vendor/github.com/shurcooL/githubv4/README.md
  vendor/github.com/shurcooL/githubv4/doc.go
  vendor/github.com/shurcooL/githubv4/enum.go
  vendor/github.com/shurcooL/githubv4/input.go
  vendor/modules.txt
  website/docs/r/branch_protection.html.markdown
Labels: dependencies, documentation, size/XXL
