Repository integrations/terraform-provider-github, pull requests merged in 2020-11, with the labels that each got.

#569 Fix documentation for `dismissal_restrictions`
  website/docs/r/branch_protection.html.markdown
Labels: documentation, size/XS

#492 Add missing attributes references for node_id
  website/docs/d/repository.html.markdown
  website/docs/d/team.html.markdown
  website/docs/d/user.html.markdown
  website/docs/r/repository.html.markdown
  website/docs/r/team.html.markdown
Labels: documentation, size/XS

#587 Update Documentation Ahead Of Project Transfer
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: size/XL

#261 Add support to retrieve information about the currently authenticated user
  github/data_source_github_user.go
  website/docs/d/user.html.markdown
Labels: documentation, enhancement, size/XS, upstream

#540 repo webhook url is sensitive
  github/schema_webhook_configuration.go
  website/docs/r/repository_webhook.html.markdown
Labels: documentation, size/XS

#487 Add support for importing organization-level webhooks
  github/resource_github_organization_webhook.go
  github/resource_github_organization_webhook_test.go
  website/docs/r/organization_webhook.html.markdown
Labels: documentation, size/S

#591 Change LICENSE To MIT
  LICENSE
Labels: size/XL

#590 Update `github_organization_webhook` Test Suite
  github/resource_github_organization_webhook_test.go
Labels: size/XL

#593 Resolve repository name to node ID if provided to `github_branch_protection`
  github/resource_github_branch_protection.go
  github/resource_github_branch_protection_test.go
  github/util_v4_branch_protection.go
  github/util_v4_repository.go
  website/docs/r/branch_protection.html.markdown
Labels: documentation, size/M

#529 changelog: add breaking change to 2.5.0 for GHE
  CHANGELOG.md
Labels: size/XS

#592 CHANGELOG updates ahead of v4.0.0 release
  CHANGELOG.md
Labels: size/XS

#553 change private to visability
  website/docs/r/repository.html.markdown
Labels: documentation, size/XS

#601 Update team.html.markdown
  website/docs/r/team.html.markdown
Labels: documentation, size/XS

#599 Resolve `repo:pattern` On `github_branch_protection` Import
  github/resource_github_branch_protection.go
  github/resource_github_branch_protection_test.go
  website/docs/r/branch_protection.html.markdown
Labels: documentation, size/S

#600 Update Test Suite For Team Data Source
  github/data_source_github_team_test.go
Labels: size/M

#589 resource/github_repository_file: Add path parameter to reduce Github API calls
  github/resource_github_repository_file.go
Labels: size/XS

#579 Use GetTeamBySlug instead of ListTeams in team data source
  github/data_source_github_team.go
Labels: size/XS

#604 Update CHANGELOG For `v4.0.1` Release
  CHANGELOG.md
Labels: size/XS

#584 Add in `github_actions_organization_secret`
  github/data_source_github_repository.go
  github/provider.go
  github/resource_github_actions_organization_secret.go
  github/resource_github_actions_organization_secret_test.go
  github/resource_github_actions_secret.go
  github/resource_github_repository.go
  website/docs/d/repository.html.markdown
  website/docs/r/actions_organization_secret.html.markdown
  website/docs/r/repository.html.markdown
  website/github.erb
Labels: documentation, size/XL

#470 [Feature Request] github milestone resource and data source
  github/data_source_github_repository_milestone.go
  github/data_source_github_repository_milestone_test.go
  github/provider.go
  github/resource_github_repository_milestone.go
  github/resource_github_repository_milestone_test.go
  go.mod
  go.sum
  website/docs/d/repository_milestone.html.markdown
  website/docs/r/repository_milestone.html.markdown
  website/github.erb
Labels: documentation, size/XL

#460 Add Project Card Support
  github/provider.go
  github/resource_github_project_card.go
  github/resource_github_project_card_test.go
  github/resource_github_project_column.go
  website/docs/r/project_card.html.markdown
  website/github.erb
Labels: documentation, new-resource, size/L

#194 Allow default branch to be set to master/main on update, using a new github_branch_default resource
  github/provider.go
  github/resource_github_branch_default.go
  github/resource_github_branch_default_test.go
  github/resource_github_repository.go
  website/docs/r/branch_default.html.markdown
  website/docs/r/repository.html.markdown
Labels: documentation, size/XL

#611 Add `v4.1.0` CHANGELOG entry
  CHANGELOG.md
Labels: size/XS
