Repository integrations/terraform-provider-github, pull requests merged in 2020-01, with the labels that each got.

#309 resource/repository: add create from template
  README.md
  github/provider_test.go
  github/resource_github_repository.go
  github/resource_github_repository_test.go
  website/docs/r/repository.html.markdown
Labels: documentation, size/L

#320 Update CHANGELOG.md to include #309
  CHANGELOG.md
Labels: size/XS

#325 Fixes team membership bug
  github/resource_github_team_membership.go
Labels: size/XS

#303 Add triage and maintain repo permissions
  github/resource_github_repository_collaborator.go
  github/resource_github_team_repository.go
  github/resource_github_team_repository_test.go
  github/util_permissions.go
  go.mod
  go.sum
Labels: size/S
