Repository integrations/terraform-provider-github, pull requests merged in 2020-07, with the labels that each got.

#506 Deprecate `anonymous` Flag For Provider Configuration
  github/config_test.go
  github/provider.go
Labels: size/M

#512 Deprecate `individual` flag for provider configuration
  github/config_test.go
  github/provider.go
Labels: size/S

#517 resource/github_actions_secret: skip acctest for non-organization auth
  github/resource_github_actions_secret_test.go
Labels: size/XS

#518 resource/github_branch and data-source/github_branch: invididual user support
  github/data_source_github_branch.go
  github/data_source_github_branch_test.go
  github/resource_github_branch.go
  github/resource_github_branch_test.go
Labels: size/S

#520 resource/actions_secret and data-source/actions_public_key: add individual user support
  github/data_source_github_actions_public_key.go
  github/data_source_github_actions_public_key_test.go
  github/resource_github_actions_secret.go
  github/resource_github_actions_secret_test.go
Labels: size/S

#519 resource/github_issue_label: add invididual user support
  github/resource_github_issue_label.go
  github/resource_github_issue_label_test.go
Labels: size/XS

#525 resource/repository_collaborator: revert response handling introduced in #424
  github/resource_github_repository_collaborator.go
Labels: size/XS
