Repository integrations/terraform-provider-github, pull requests merged in 2020-05, with the labels that each got.

#364 Add github_branch data and resource
  github/data_source_github_branch.go
  github/data_source_github_branch_test.go
  github/provider.go
  github/resource_github_branch.go
  github/resource_github_branch_test.go
  website/docs/d/branch.html.markdown
  website/docs/r/branch.html.markdown
  website/github.erb
Labels: documentation, size/XL

#443 Fix github_repository_file import documentation
  website/docs/r/repository_file.html.markdown
Labels: documentation, size/XS

#442 update to updated release of acceptance-tests
  .github/workflows/acceptance-tests.yml
Labels: size/XS

#423 Fix YAML front matter separator
  website/docs/d/ip_ranges.html.markdown
  website/docs/d/membership.html.markdown
Labels: documentation, size/XS

#410 Remark for `slug` for teams in `restrictions` in wrong place
  website/docs/r/branch_protection.html.markdown
Labels: documentation, size/XS

#429 add base url and api version for acceptance tests
  .github/workflows/acceptance-tests.yml
  github/provider_test.go
Labels: acceptance-test/TestAcc, size/XS

#400 addition of team sync support
  README.md
  github/data_source_github_organization_team_sync_groups.go
  github/data_source_github_organization_team_sync_groups_test.go
  github/provider.go
  github/provider_test.go
  github/resource_github_team_sync_group_mapping.go
  github/resource_github_team_sync_group_mapping_test.go
  website/docs/d/organization_team_sync_groups.html.markdown
  website/docs/r/team_sync_group_mapping.html.markdown
  website/github.erb
Labels: acceptance-test/TestAcc, documentation, size/XL, upstream

#447 Skip team_sync_mapping test for non-enterprise accounts
  github/resource_github_team_sync_group_mapping_test.go
Labels: acceptance-test/TestAccGithubTeamSync, size/XS

#441 Visibility
  github/data_source_github_repository.go
  github/data_source_github_repository_test.go
  github/resource_github_repository.go
  github/resource_github_repository_test.go
  website/docs/d/repository.html.markdown
  website/docs/r/repository.html.markdown
Labels: documentation, size/S

#452 Revert "Visibility"
  github/data_source_github_repository.go
  github/data_source_github_repository_test.go
  github/resource_github_repository.go
  github/resource_github_repository_test.go
  website/docs/d/repository.html.markdown
  website/docs/r/repository.html.markdown
Labels: documentation, size/S

#458 Fix typo
  website/docs/d/actions_public_key.html.markdown
Labels: documentation, size/XS

#457 Support "maintain" and "triage" for repository collaborators
  github/resource_github_repository_collaborator_test.go
  github/util_permissions.go
  website/docs/r/repository_collaborator.html.markdown
Labels: documentation, size/M

#456 iterate through IDP groups with page token
  github/data_source_github_organization_team_sync_groups.go
Labels: size/XS
