Repository integrations/terraform-provider-github, pull requests merged in 2020-03, with the labels that each got.

#288 Fix not to recreate labels when update
  github/resource_github_issue_label.go
  github/resource_github_issue_label_test.go
Labels: bug, size/S

#375 Adds acceptance test runs triggered by labels
  .github/workflows/acceptance-tests.yml
Labels: size/S

#297 Gposton/branch protection apps
  github/resource_github_branch_protection.go
  website/docs/r/branch_protection.html.markdown
Labels: acceptance-test/TestAcc, documentation, size/XS

#378 Add missing sidebar items
  website/docs/d/release.html.markdown
  website/docs/r/user_ssh_key.html.markdown
  website/github.erb
Labels: documentation, size/XS

#389 Typographical errors and consistency
  .github/ISSUE_TEMPLATE.md
  website/docs/d/collaborators.html.markdown
  website/docs/d/ip_ranges.html.markdown
  website/docs/d/release.html.markdown
  website/docs/d/repository.html.markdown
  website/docs/d/user.html.markdown
  website/docs/index.html.markdown
  website/docs/r/branch_protection.html.markdown
  website/docs/r/issue_label.html.markdown
  website/docs/r/membership.html.markdown
  website/docs/r/project_column.html.markdown
  website/docs/r/repository.html.markdown
  website/docs/r/repository_collaborator.html.markdown
  website/docs/r/repository_deploy_key.html.markdown
  website/docs/r/repository_file.html.markdown
  website/docs/r/repository_webhook.html.markdown
  website/docs/r/team.html.markdown
  website/docs/r/team_membership.html.markdown
  website/docs/r/team_repository.html.markdown
Labels: documentation, size/M

#385 Prevent a panic when trying to use DismissalRestrictions
  github/resource_github_branch_protection.go
  github/resource_github_branch_protection_test.go
Labels: acceptance-test/TestAcc, bug, crash, good first issue, help wanted, regression, size/S

#391 Remove Test Step To Verify Importing Invitation
  github/resource_github_user_invitation_accepter_test.go
Labels: acceptance-test/TestAcc, size/XS
