Repository integrations/terraform-provider-github, pull requests merged in 2020-04, with the labels that each got.

#405 Fix Typo For Actions Page
  website/github.erb
Labels: documentation, size/XS

#399 resource/github_repository: Introduce option to manage `Delete Branch on Merge`
  github/resource_github_repository.go
  github/resource_github_repository_test.go
  website/docs/r/repository.html.markdown
Labels: acceptance-test/TestAcc, documentation, size/M

#396 Add a github_membership data source.
  github/data_source_github_membership.go
  github/data_source_github_membership_test.go
  github/provider.go
  website/docs/d/membership.html.markdown
  website/github.erb
Labels: acceptance-test/TestAcc, documentation, size/M

#357 Gh 327 configure repo as template
  github/resource_github_repository.go
  github/resource_github_repository_test.go
  website/docs/r/repository.html.markdown
Labels: documentation, size/XS

#383 Compute node ids for repo, user and team resources & data sources
  github/data_source_github_repository.go
  github/data_source_github_team.go
  github/data_source_github_user.go
  github/resource_github_repository.go
  github/resource_github_team.go
Labels: size/XS

#408 Fix incorrect argument name
  website/docs/r/repository.html.markdown
Labels: documentation, size/XS

#413 update docs to reflect resource and data schemas
  github/data_source_github_actions_public_key.go
  website/docs/d/actions_public_key.html.markdown
  website/docs/r/actions_secret.html.markdown
Labels: acceptance-test/TestAcc, documentation, size/XS

#418 github workflow with conditionals
  .github/workflows/acceptance-tests.yml
Labels: acceptance-test/TestAcc, size/XS

#427 add /orgs mockgithub api endpoint in provider test
  .github/workflows/acceptance-tests.yml
  github/provider_test.go
Labels: acceptance-test/TestAccProvider, size/XS

#411 Add getter usage where missing
  github/data_source_github_collaborators.go
  github/data_source_github_membership.go
  github/data_source_github_repository.go
  github/resource_github_actions_secret.go
  github/resource_github_branch_protection.go
  github/resource_github_branch_protection_test.go
  github/resource_github_issue_label.go
  github/resource_github_issue_label_test.go
  github/resource_github_membership.go
  github/resource_github_membership_test.go
  github/resource_github_organization_project.go
  github/resource_github_organization_project_test.go
  github/resource_github_organization_webhook.go
  github/resource_github_organization_webhook_test.go
  github/resource_github_project_column.go
  github/resource_github_project_column_test.go
  github/resource_github_repository.go
  github/resource_github_repository_collaborator.go
  github/resource_github_repository_collaborator_test.go
  github/resource_github_repository_deploy_key.go
  github/resource_github_repository_file.go
  github/resource_github_repository_file_test.go
  github/resource_github_repository_project.go
  github/resource_github_repository_project_test.go
  github/resource_github_repository_test.go
  github/resource_github_repository_webhook.go
  github/resource_github_repository_webhook_test.go
  github/resource_github_team.go
  github/resource_github_team_membership.go
  github/resource_github_team_membership_test.go
  github/resource_github_team_repository.go
  github/resource_github_team_repository_test.go
  github/resource_github_team_test.go
  github/resource_github_user_gpg_key.go
  github/resource_github_user_ssh_key.go
  github/util.go
  github/util_permissions.go
  github/util_test.go
Labels: size/XL
