Repository integrations/terraform-provider-github, pull requests merged in 2020-02, with the labels that each got.

#313 Refactor: cleanup usage of parseTwoPartID
  github/resource_github_branch_protection.go
  github/resource_github_branch_protection_test.go
  github/resource_github_issue_label.go
  github/resource_github_issue_label_test.go
  github/resource_github_membership.go
  github/resource_github_membership_test.go
  github/resource_github_repository_collaborator.go
  github/resource_github_repository_collaborator_test.go
  github/resource_github_repository_deploy_key.go
  github/resource_github_repository_deploy_key_test.go
  github/resource_github_team_membership.go
  github/resource_github_team_membership_test.go
  github/resource_github_team_repository.go
  github/resource_github_team_repository_test.go
  github/util.go
  github/util_test.go
Labels: size/M

#348 Handle repo 404 gracefully
  github/resource_github_repository_collaborator.go
Labels: size/XS

#318 Add repository file resource
  README.md
  github/provider.go
  github/resource_github_repository_file.go
  github/resource_github_repository_file_test.go
  github/util.go
  website/docs/r/repository_file.html.markdown
Labels: documentation, size/XL

#347 [fix] Example's template block fixed
  website/docs/r/repository.html.markdown
Labels: documentation, size/XS

#345 Fix README to include envvar for acceptance tests.
  README.md
Labels: size/XS

#356 GH-144 - New Data Source: Github release
  README.md
  github/data_source_github_release.go
  github/data_source_github_release_test.go
  github/provider.go
  github/provider_test.go
  website/docs/d/release.html.markdown
Labels: documentation, size/XL

#361 Updating docs to include triage and maintain permissions, as per PR #303
  website/docs/r/team_repository.html.markdown
Labels: documentation, size/XS

#363 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#366 Handle pagination when listing commits in github_repository_file
  github/resource_github_repository_file.go
Labels: size/XS

#365 Fixed : insecure_ssl parameter behaviour in webhook creation
  github/resource_github_organization_webhook_test.go
  github/resource_github_repository_webhook_test.go
  github/schema_webhook_configuration.go
Labels: size/XS
