Repository integrations/terraform-provider-github, pull requests merged in 2020-06, with the labels that each got.

#471 resource/deploy_key: generate/overwrite ssh key per test
  github/resource_github_repository_deploy_key_test.go
Labels: acceptance-test/TestAccGithubRepositoryDeployKey, size/XS, technical-debt

#466 Set commit info using create or update
  github/resource_github_repository_file.go
  github/util.go
Labels: size/M

#478 Add `delete_branch_on_merge` Example
  examples/repository_delete_branch_on_merge/README.md
Labels: size/XS

#486 update go-github import
  github/util.go
Labels: size/XS

#494 resource/repository_collaborator: add individual user support
  github/resource_github_repository_collaborator.go
  github/resource_github_repository_collaborator_test.go
  website/docs/r/repository_collaborator.html.markdown
Labels: documentation, size/L
