Repository integrations/terraform-provider-github, pull requests merged in 2021-01, with the labels that each got.

#645 Fix Travis tests
  github/resource_github_branch_protection.go
  github/util_v4_branch_protection.go
Labels: size/XS

#643 Allow dependabot to check github actions
  .github/dependabot.yml
Labels: size/XS

#629 Typo: s/visiblity/visibility
  website/docs/r/actions_organization_secret.html.markdown
Labels: documentation, size/XS

#510 github_repository_webhook: describe content_type options
  website/docs/r/repository_webhook.html.markdown
Labels: documentation, size/XS

#635 change private to visibility
  examples/repository_collaborator/main.tf
  examples/repository_delete_branch_on_merge/main.tf
  website/docs/r/branch_default.html.markdown
Labels: documentation, size/XS

#644 Use commit SHA to lookup commit info in github_repository_file resource
  github/resource_github_repository_file.go
  github/resource_github_repository_file_test.go
  website/docs/r/repository_file.html.markdown
Labels: documentation, size/M

#641 Add v4.2.0 Release
  CHANGELOG.md
Labels: size/XS

#490 resource/repository: add support for enabling github pages
  github/data_source_github_repository.go
  github/data_source_github_repository_test.go
  github/resource_github_repository.go
  github/resource_github_repository_test.go
  website/docs/d/repository.html.markdown
  website/docs/r/repository.html.markdown
Labels: documentation, size/XL
