Repository integrations/terraform-provider-github, pull requests merged in 2022-11, with the labels that each got.

#1339 new resource: github_actions_repository_permissions
  github/provider.go
  github/resource_github_actions_repository_permissions.go
  github/resource_github_actions_repository_permissions_test.go
  website/docs/r/actions_repository_permissions.html.markdown
  website/github.erb
Labels: Type: Feature, Priority: Normal

#1354 Add PR templates
  .github/pull_request_template.md
Labels: Type: Maintenance

#1175 Add optional repository IDs flag
  github/data_source_github_repositories.go
  github/data_source_github_repositories_test.go
  website/docs/d/repositories.html.markdown
Labels: Type: Feature, Priority: High

#1304 [Feature] Adding `security_and_analysis` block to `github_repository` resource. closes#1104
  github/resource_github_repository.go
  github/resource_github_repository_test.go
  website/docs/r/repository.html.markdown
Labels: Type: Feature, Priority: High

#1362 Type: Bug | Fixes validation error when forking policy has been set by enterprise administrators.
  github/resource_github_organization_settings.go
Labels: Type: Bug

#1366 [maint]: bumps go-github from v48.0.0 to v48.1.0
  go.mod
  go.sum
  vendor/github.com/google/go-github/v48/AUTHORS
  vendor/github.com/google/go-github/v48/github/actions_runner_groups.go
  vendor/github.com/google/go-github/v48/github/code-scanning.go
  vendor/github.com/google/go-github/v48/github/dependabot_alerts.go
  vendor/github.com/google/go-github/v48/github/event.go
  vendor/github.com/google/go-github/v48/github/event_types.go
  vendor/github.com/google/go-github/v48/github/github-accessors.go
  vendor/github.com/google/go-github/v48/github/github.go
  vendor/github.com/google/go-github/v48/github/messages.go
  vendor/github.com/google/go-github/v48/github/orgs_security_managers.go
  vendor/github.com/google/go-github/v48/github/repos.go
  vendor/modules.txt
Labels: Priority: Normal, Type: Maintenance

#1355 Fix commit_message when file resource is deleted
  github/resource_github_repository_file.go
Labels: Type: Bug, Priority: Normal

#1359 Add `template` details to `github_repository` data source
  github/data_source_github_repository.go
  github/data_source_github_repository_test.go
  website/docs/d/repository.html.markdown
Labels: Type: Feature, Priority: Normal

#1356 Adding skeleton for github_team_settings resource
  github/config.go
  github/provider.go
  github/resource_github_team_settings.go
  github/resource_github_team_settings_test.go
  website/docs/r/team_settings.html.markdown
Labels: Priority: Normal, Type: Maintenance

#1384 Fixing team repository permissions
  github/config.go
Labels: Type: Bug, Priority: High

#1371 Add support for organization security managers
  github/provider.go
  github/resource_github_organization_security_manager.go
  github/resource_github_organization_security_manager_test.go
  website/docs/r/organization_security_manager.html.markdown
  website/github.erb
Labels: Type: Feature

#1393 Create stale action for PRs and Issues
  .github/workflows/stale.yml
Labels: Priority: Normal, Type: Maintenance

#1397 Updates the stale action and increases operations per run
  .github/workflows/stale.yml
Labels: Priority: Normal, Type: Maintenance

#1398 Adds config to use the actual stale labels
  .github/workflows/stale.yml
Labels: Type: Maintenance
