Repository integrations/terraform-provider-github, pull requests merged in 2022-12, with the labels that each got.

#1390 Add GitHub Actions runner repository registration token data source
  github/data_source_github_actions_organization_registration_token.go
  github/data_source_github_actions_organization_registration_token_test.go
  github/data_source_github_actions_registration_token.go
  github/data_source_github_actions_registration_token_test.go
  github/provider.go
  website/docs/d/actions_organization_registration_token.html.markdown
  website/docs/d/actions_registration_token.html.markdown
  website/github.erb
Labels: Type: Feature

#1395 Tweak error message in provider_utils.go
  github/provider_utils.go
Labels: Type: Maintenance

#1394 Remove renovate.json
  renovate.json
Labels: Type: Maintenance

#1402 Update RELEASE.md to match current releasing process
  RELEASE.md
Labels: Type: Documentation

#1097 Increase pages size for github_organization data source
  github/data_source_github_organization.go
Labels: Type: Feature, Priority: Normal

#1376 Add resource github_app_installation_repositories
  github/provider.go
  github/resource_github_app_installation_repositories.go
  github/resource_github_app_installation_repositories_test.go
  website/docs/r/app_installation_repositories.html.markdown
  website/github.erb
Labels: Type: Feature

#1407 feat: adds new branch protection options for last reviewer and locking branch
  github/resource_github_branch_protection.go
  github/resource_github_branch_protection_test.go
  github/util_v4_branch_protection.go
  github/util_v4_consts.go
  go.mod
  go.sum
  vendor/github.com/shurcooL/githubv4/enum.go
  vendor/github.com/shurcooL/githubv4/input.go
  vendor/modules.txt
  website/docs/r/branch_protection.html.markdown
Labels: Type: Feature

#1417 🚧 Workflows have changed
  .github/workflows/add_to_octokit_project.yml
Labels: Priority: Normal, Type: Maintenance

#1422 Issue template tweak
  .github/ISSUE_TEMPLATE/bug.md
Labels: Type: Documentation

#1427 Updates workflow to use PR targets for RW workflow actions
  .github/workflows/add_to_octokit_project.yml
Labels: Type: Maintenance

#1424 fix: handle if an autolink reference was deleted outside terraform
  github/resource_github_repository_autolink_reference.go
Labels: Type: Bug

#1433 Correct default branchname in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Type: Documentation, Type: Maintenance

#1435 ignore StatusNotModified when reading OrganizationRunnerGroup
  github/resource_github_actions_runner_group.go
Labels: Type: Bug
