Repository integrations/terraform-provider-github, pull requests merged in 2023-10, with the labels that each got.

#1898 Use correct base url for `gh auth token --hostname`
  github/provider.go
Labels: Type: Bug

#1936 Fix typos in github_repository_collaborators docs
  website/docs/r/repository_collaborators.html.markdown
Labels: Type: Documentation, hacktoberfest

#1944 [docs]: remove references to "owner" parameter in github_issue, because it's not needed
  website/docs/r/issue.html.markdown
Labels: Type: Documentation, hacktoberfest

#1949 [fix]: skip file-specifc schema data for directory
  github/data_source_github_repository_file.go
  github/data_source_github_repository_file_test.go
Labels: Type: Bug, hacktoberfest

#1945 [docs]: update comments for github_branch_protection in case of push_restrictions
  website/docs/r/branch_protection.html.markdown
Labels: Type: Documentation, hacktoberfest

#1932 [fix]: Fixed incorrect error handling that led to panic in `github_repository_environment`
  github/resource_github_repository_environment.go
Labels: Type: Bug, hacktoberfest

#1937 [fix]: file in a deleted branch does not get removed from state
  github/resource_github_repository_file.go
Labels: Type: Bug

#1939 [fix]: Fixes parsing for checks with `:` in the name.
  github/resource_github_branch_protection_v3_test.go
  github/resource_github_branch_protection_v3_utils.go
Labels: Type: Bug, hacktoberfest

#1029 Allow setting owner in anonymous mode
  github/config.go
Labels: vNext
