Repository integrations/terraform-provider-github, pull requests merged in 2023-08, with the labels that each got.

#1820 Documentation enhancements for `github_repository_deployment_branch_policy` resource
  website/docs/r/repository_deployment_branch_policy.html.markdown
Labels: Type: Documentation

#1836 [FEAT]: expose primary language in github_repository
  github/data_source_github_repository.go
  github/data_source_github_repository_test.go
  github/resource_github_repository.go
  github/resource_github_repository_test.go
  website/docs/d/repository.html.markdown
  website/docs/r/repository.html.markdown
Labels: Type: Feature

#1824 feat: implement github_codespaces_organization_secret_repositories resource
  CONTRIBUTING.md
  github/provider.go
  github/resource_github_codespaces_organization_secret_repositories.go
  github/resource_github_codespaces_organization_secret_repositories_test.go
  website/docs/r/codespaces_organization_secret_repositories.html.markdown
  website/github.erb
Labels: Type: Feature

#1860 Add display_name to github_enterprise_organization
  github/resource_github_enterprise_organization.go
  github/resource_github_enterprise_organization_test.go
  website/docs/r/enterprise_organization.html.markdown
Labels: Type: Feature

#1863 Implement github_enterprise_organization import
  github/resource_github_enterprise_organization.go
  github/resource_github_enterprise_organization_test.go
  website/docs/r/enterprise_organization.html.markdown
Labels: Type: Bug
