Repository integrations/terraform-provider-github, pull requests merged in 2023-01, with the labels that each got.

#1448 feat: add repo action access level resource
  github/provider.go
  github/resource_github_actions_repository_access_level.go
  github/resource_github_actions_repository_access_level_test.go
  website/docs/r/actions_repository_access_level.html.markdown
  website/github.erb
Labels: Type: Feature, Priority: High

#1453 updated pull_request_bypassers structs for app, like push actors
  github/util_v4_branch_protection.go
Labels: Type: Feature, Priority: Normal

#1452 feat: add parent team attributes to teams datasource
  github/data_source_github_organization_teams.go
  github/data_source_github_organization_teams_test.go
  github/util_v4_teams.go
  website/docs/d/organization_teams.html.markdown
Labels: Type: Feature, Priority: Normal

#1443 feat: Add ability to enable GitHub Discussions on repositories
  github/data_source_github_repository.go
  github/resource_github_repository.go
  github/resource_github_repository_test.go
  website/docs/d/repository.html.markdown
  website/docs/r/repository.html.markdown
Labels: Type: Feature, Priority: High

#1413 Remove usages of the lowercase h in GitHub
  CHANGELOG.md
  CONTRIBUTING.md
  github/config.go
  github/data_source_github_organization_team_sync_groups.go
  github/resource_github_repository.go
  github/resource_github_team_repository.go
  github/resource_github_team_sync_group_mapping.go
  github/sweeper_test.go
  website/docs/d/organization_webhooks.html.markdown
  website/docs/d/repository_branches.html.markdown
  website/docs/d/repository_webhooks.html.markdown
  website/docs/r/actions_environment_secret.html.markdown
  website/docs/r/actions_organization_secret.html.markdown
  website/docs/r/actions_runner_group.html.markdown
  website/docs/r/actions_secret.html.markdown
  website/docs/r/dependabot_organization_secret.html.markdown
  website/docs/r/dependabot_secret.html.markdown
Labels: Type: Maintenance

#1473 feat: Add support for GitHub Actions OpenID Connect subject claim customization templates
  github/data_source_github_actions_organization_oidc_subject_claim_customization_template.go
  github/data_source_github_actions_organization_oidc_subject_claim_customization_template_test.go
  github/data_source_github_actions_repository_oidc_subject_claim_customization_template.go
  github/data_source_github_actions_repository_oidc_subject_claim_customization_template_test.go
  github/provider.go
  github/resource_github_actions_organization_oidc_subject_claim_customization_template.go
  github/resource_github_actions_organization_oidc_subject_claim_customization_template_test.go
  github/resource_github_actions_repository_oidc_subject_claim_customization_template.go
  github/resource_github_actions_repository_oidc_subject_claim_customization_template_test.go
  go.mod
  go.sum
  vendor/github.com/google/go-github/v49/github/actions_cache.go
  vendor/github.com/google/go-github/v49/github/actions_oidc.go
  vendor/github.com/google/go-github/v49/github/github-accessors.go
  vendor/github.com/google/go-github/v49/github/github.go
  vendor/modules.txt
  website/docs/d/actions_organization_oidc_subject_claim_customization_template.html.markdown
  website/docs/d/actions_repository_oidc_subject_claim_customization_template.html.markdown
  website/docs/r/actions_organization_oidc_subject_claim_customization_template.html.markdown
  website/docs/r/actions_repository_oidc_subject_claim_customization_template.html.markdown
Labels: Type: Feature, Priority: Normal, Status: Blocked

#1449 fix: verify & set parent team after creation
  github/resource_github_team.go
Labels: Type: Bug, Priority: High

#1462 1332 workflow restrictions
  CONTRIBUTING.md
  github/resource_github_actions_runner_group.go
  github/resource_github_actions_runner_group_test.go
  website/docs/r/actions_runner_group.html.markdown
  website/docs/r/repository.html.markdown
Labels: Type: Feature, Priority: Normal

#1483 Enable CodeQL
  .github/workflows/codeql.yml
Labels: Type: Maintenance

#1467 Add note documenting org owners' team membership behavior
  website/docs/r/team_members.html.markdown
  website/docs/r/team_membership.html.markdown
Labels: Type: Documentation

#1415 feature/985 branch protection `checks`
  github/resource_github_branch_protection_v3.go
  github/resource_github_branch_protection_v3_utils.go
  website/docs/r/branch_protection_v3.html.markdown
Labels: Type: Feature
