Repository integrations/terraform-provider-github, pull requests merged in 2023-05, with the labels that each got.

#1151 Fix example `github_team_members` import resource address
  website/docs/r/team_members.html.markdown
Labels: Status: Stale

#1099 Fix typo in branch protection's `pull_request_bypassers` test
  github/resource_github_branch_protection_test.go
Labels: Status: Stale

#1664 feat: allow team slug instead of team id in github_team and github_team_members
  github/resource_github_team.go
  github/resource_github_team_members.go
  github/resource_github_team_test.go
  website/docs/r/team.html.markdown
Labels: Type: Bug

#1677 Update actions_repository_permissions.html.markdown
  website/docs/r/actions_repository_permissions.html.markdown
Labels: Type: Bug, Priority: Normal
