Repository integrations/terraform-provider-github, pull requests merged in 2023-09, with the labels that each got.

#1846 [FEAT]: Add github_repository_topics resource
  github/provider.go
  github/resource_github_repository.go
  github/resource_github_repository_topics.go
  github/resource_github_repository_topics_test.go
  website/docs/r/repository.html.markdown
  website/docs/r/repository_topics.html.markdown
  website/github.erb
Labels: Type: Feature

#1854 [FEAT] Pick up token from `gh auth login` CLI
  github/provider.go
  website/docs/index.html.markdown
Labels: Type: Feature, Awaiting response

#1887 Fixes for org and repo rulesets
  github/resource_github_organization_ruleset.go
  github/resource_github_repository_ruleset.go
  github/respository_rules_utils.go
  website/docs/r/organization_ruleset.html.markdown
Labels: Type: Bug

#1911 Fix organization ruleset conditions schema validation, update docs
  github/resource_github_organization_ruleset.go
  github/resource_github_repository_ruleset.go
  website/docs/r/organization_ruleset.html.markdown
  website/docs/r/repository_ruleset.html.markdown
Labels: Type: Documentation

#1906 Fixed invalid default hostname for gh auth token
  github/provider.go
Labels: Type: Bug

#1916 Add DefaultFunc to repo ruleset required deploy env, base role IDs to docs
  github/resource_github_repository_ruleset.go
  website/docs/r/organization_ruleset.html.markdown
  website/docs/r/repository_ruleset.html.markdown
Labels: Type: Bug, Type: Documentation

#1920 [docs]: Corrected data_source branch documentation stating that it would create a branch
  website/docs/d/branch.html.markdown
Labels: Type: Documentation

#1919 [bug]: Fix hostname used with `gh` CLI for github.com
  github/provider.go
Labels: Type: Bug

#1890 [bug]: Fix commit strategies when updating repos
  github/resource_github_repository.go
  github/resource_github_repository_test.go
  website/docs/r/repository.html.markdown
Labels: Type: Bug

#1897 [bug]: url encode environment name in `github_actions_environment_secret` and `github_actions_environment_variable` data sources and resources
  github/data_source_github_actions_environment_secrets.go
  github/data_source_github_actions_environment_secrets_test.go
  github/data_source_github_actions_environment_variables.go
  github/data_source_github_actions_environment_variables_test.go
  github/resource_github_actions_environment_secret.go
  github/resource_github_actions_environment_secret_test.go
  github/resource_github_actions_environment_variable.go
  github/resource_github_actions_environment_variable_test.go
Labels: Type: Bug
