Repository integrations/terraform-provider-github, pull requests merged in 2023-03, with the labels that each got.

#1590 cleans up the references causing release issues
  go.sum
Labels: Type: Maintenance

#1615 Bump Go version to v1.20.2 in CI
  .github/workflows/ci.yml
Labels: Type: Maintenance

#1557 retrieve publicly available emails as well
  github/data_source_github_users.go
  website/docs/d/users.html.markdown
Labels: Type: Feature, Priority: Normal

#1563 fix: selected_workflows and restricted_to_workflows fields cannot be set issue
  github/resource_github_actions_runner_group.go
Labels: Type: Bug, Priority: Normal
