Repository integrations/terraform-provider-github, pull requests merged in 2023-02, with the labels that each got.

#1488 feat: allow emtpy invitation IDs
  github/resource_github_user_invitation_accepter.go
  github/resource_github_user_invitation_accepter_test.go
  website/docs/r/user_invitation_accepter.html.markdown
Labels: Type: Feature, Priority: Normal

#1547 Dependency updates to fix broken builds
  .github/workflows/ci.yml
  .golangci.yml
  GNUmakefile
Labels: Type: Maintenance

#1538 Fix: Support app auth and PAT via two provider instances
  github/provider.go
Labels: Type: Feature
