Repository integrations/terraform-provider-github, pull requests merged in 2024-01, with the labels that each got.

#2029 Fix type assertion failure on github_dependabot_organization_secret_repositories.selected_repository_ids
  github/resource_github_dependabot_organization_secret_repositories.go
Labels: Type: Bug

#1704 Add retryable transport for errors
  github/config.go
  github/config_test.go
  github/provider.go
  github/provider_test.go
  github/repository_utils.go
  github/transport.go
  github/transport_test.go
  go.mod
  go.sum
  vendor/cloud.google.com/go/iam/CHANGES.md
  vendor/cloud.google.com/go/iam/apiv1/iampb/iam_policy.pb.go
  vendor/cloud.google.com/go/iam/apiv1/iampb/options.pb.go
  vendor/cloud.google.com/go/iam/apiv1/iampb/policy.pb.go
  vendor/cloud.google.com/go/storage/CHANGES.md
  vendor/cloud.google.com/go/storage/acl.go
  vendor/cloud.google.com/go/storage/bucket.go
  vendor/cloud.google.com/go/storage/client.go
  vendor/cloud.google.com/go/storage/doc.go
  vendor/cloud.google.com/go/storage/grpc_client.go
  vendor/cloud.google.com/go/storage/hmac.go
  vendor/cloud.google.com/go/storage/http_client.go
  vendor/cloud.google.com/go/storage/iam.go
  vendor/cloud.google.com/go/storage/internal/apiv2/doc.go
  vendor/cloud.google.com/go/storage/internal/apiv2/gapic_metadata.json
  vendor/cloud.google.com/go/storage/internal/apiv2/storage_client.go
  vendor/cloud.google.com/go/storage/internal/apiv2/storagepb/storage.pb.go
  vendor/cloud.google.com/go/storage/internal/version.go
  vendor/cloud.google.com/go/storage/invoke.go
  vendor/cloud.google.com/go/storage/notifications.go
  vendor/cloud.google.com/go/storage/option.go
  vendor/cloud.google.com/go/storage/post_policy_v4.go
  vendor/cloud.google.com/go/storage/reader.go
  vendor/cloud.google.com/go/storage/storage.go
  vendor/cloud.google.com/go/storage/writer.go
  vendor/google.golang.org/genproto/googleapis/iam/v1/alias.go
  vendor/modules.txt
  website/docs/index.html.markdown
Labels: Type: Breaking change, vNext

#1918 fix: remove repository topic from state if it doesnt exist in GitHub anymore
  github/resource_github_repository_topics.go
Labels: Type: Bug, Type: Breaking change, vNext

#2106 Bump version to v6
  go.mod
  main.go
Labels: vNext

#2000 Add prevent_self_review parameter to the github_repository_environment resource
  github/resource_github_repository_environment.go
  github/resource_github_repository_environment_test.go
  website/docs/r/repository_environment.html.markdown
Labels: Type: Breaking change
