Repository integrations/terraform-provider-github, pull requests merged in 2024-02, with the labels that each got.

#2045 Fix restrict pushes on github_branch_protection. Fix branch protection tests
  github/data_source_github_user.go
  github/data_source_github_user_test.go
  github/migrate_github_branch_protection.go
  github/resource_github_branch_protection.go
  github/resource_github_branch_protection_test.go
  github/resource_github_release.go
  github/util_v4_branch_protection.go
  github/util_v4_consts.go
  website/docs/r/branch_protection.html.markdown
Labels: Type: Bug, vNext

#2126 fix: Remove invalid update of create_default_maintainer from import github_team_members
  github/resource_github_team_members.go
Labels: Type: Bug

#2170 Fix github_external_groups page title
  website/docs/d/external_groups.html.markdown
Labels: Type: Documentation
